/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');

// fonts
$font-family-sans-serif: 'Lato', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Yanone Kaffeesatz',  Tahoma, sans-serif  !default;
$presentation-heading-color: #562457 !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;

//code
$code-color: #88398A !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general  
$body-bg: #fff;
$body-color: #000000;
$link-color: #88398a;
$presentation-font-size-root: 35px;

/*-- scss:rules --*/
.reveal pre code {
  background-color: #f8f8f8;
  font-size: 1em;
  padding: 0.5em;
  line-height: 1.2em;
}


.subtitle {
  color: $body-bg;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.author {
  color: $body-bg;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .footer {
    color: #9d709e;
}


.center-x{
    text-align: center;
}

section.has-dark-background a, section.has-dark-background a:hover {
    color: #fee4ff;
}


.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}
